{
  "src/**/*.{css,scss}": [
    "stylelint --fix",
    "prettier --write"
  ],
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "src/**/*.{json,md,yml,yaml}": "prettier --write"
}
