.uikit_main {
  padding: 50px;
  border-radius: 16px;
  color: white;
  width: 500px;
}

.uikit_stack {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.uikit_text {
  text-align: center;
}
